* {
  text-align: center;
  height: 85vmin;
  overflow: hidden;
  margin: auto;
}

body {
  position: relative;
  background-color: #122A46;
}

canvas {
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  /*background-image: url(img/yadzka.jpeg);*/
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /*margin: 5em 27em;*/
}

.back {
  position: absolute;
  top: -15rem;
  left: 10%;
  padding: 0.5em 0.5em;
}

.reset {
  position:fixed;
  right: 35rem;
  height: 4rem;
  top: 30rem;
  cursor: pointer;
}

.tombol {
  /* position: relative; */
  

}

#reset {
  display: none;
}

.btn {
  /* position: absolute; */
  /* top: 0; */
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}